body {
    position: absolute;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

a {
    color: #2983ff;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px
}

#speed {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
}

#speed :first-child{
    font-size: 30px;
    margin: 0px;
}
#speed-unit {
    font-size: 5px;
    margin: -4px;
}

#milage {
    position: absolute;
    width: 30px;
    height: 8px;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
}
#milage div {
    position: relative;
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
#milage i {
    float: left;
    font-size: 4px;
    padding-top: 2px;
    color: #00de00;
    text-shadow: 0 0 54px rgba(30,132,242,0.92);
    position: relative;
}
#milage p {
    margin: 0;
    position: relative;
    padding-left: 3px;
    float: left;
}

#sidebar {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 250px; 
    height: 100%; 
    padding: 15px;
    background-color: #f1f1f1; 

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.sidebar-row {
    position: relative; 
    float: left;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 12px;
    background: white;
    box-shadow: 3px 3px 10px 3px grey;
    color: #616161;
    width: calc( 100% - 20px);
}
.effect-enable {
    position: relative; 
    float: left; 
    width: 100%;
}
.effect-name {
    font-size: 20px;
    font-family: Roboto;
    padding-bottom: 5px;
}